* {
  background-color: #ddd;
  padding: 0;
  margin: 0;
 font-family: Quicksand, sans-serif;
}

.users{
  padding: 20px 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

button{
  width: 150px;
  height: 150px;
  border-radius: 50% ;
  background-color: #f4511e;
  border: none;
  color: white;
  /*padding: 16px 32px;*/
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 1;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;

}
button:hover{
  opacity: 0.6;
  transform: scale(1.3) perspective(1px)
}
.info{
  color: #f4511e;
  font-size: 52px;
  text-align: center;

}
hr{
  background-color: transparent;
  border-style: none;
  border-bottom: 5px dotted #f4511e;


}
.navigation{
  margin-top: 30px;
  list-style: none;
display: flex;
  flex-direction: column;
  justify-content: center;

}
.navigation li{
  width: 100px;
  background-color: #ddd;
  border: 1px dotted #f4511e;
  padding: 20px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 8px 2px;
  cursor: pointer;
  border-radius: 16px;
}
.navigation a{
  color: #f4511e;
  text-decoration: none;
  font-weight: bold;
}
.navigation li:hover{
  transform: scale(1.3) perspective(1px)
}
.content{
  display: flex;
  padding: 30px 100px;
}
.pageContent{
  margin-left: 50px;
}


